{% extends 'students/base.html' %}
{% load static %}

{% block title %}学生登録 | 学生管理システム{% endblock %}

{% block head %}
    <!-- カスタマイズ CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // 郵便番号入力フィールドが変更されたときに実行されるイベント
            $('#postalcode').on('input', function() {
                var postalcode = $(this).val(); // 入力された郵便番号を取得
                if (postalcode.length === 7) {
                    // 郵便番号が7桁の場合、APIを呼び出す
                    $.getJSON('https://zipcloud.ibsnet.co.jp/api/search?zipcode=' + postalcode, function(data) {
                        if (data && data.results) {
                            // 結果から住所を取得
                            var address = data.results[0];
                            // 住所1に設定
                            $('#address1').val(address.address1 + address.address2 + address.address3);
                            $('#address2').focus(); // 必要ならば address2 に焦点を合わせる
                        } else {
                            alert('住所が見つかりませんでした');
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}

{% block header %}
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>学生登録</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block contents %}    
    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">  
        <div class="container">
            <div class="row gy-4">
                <div class="col-sm-10 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table">
                            {% for field in form %}
                                <tr>
                                    <div class="form-group">
                                        <!-- フィールドのエラー -->
                                        <div class="text-danger">
                                            {{ field.errors }}
                                        </div>                                            
                                        <th>
                                            <!-- フィールドラベル -->
                                            {{ field.label_tag }}
                                
                                            <!-- 必須チェック -->
                                            {% if field.field.required %}
                                                <span style="color: red;">　必須</span>
                                            {% endif %}
                                        </th>
                                        <td>
                                            <!-- 入力フォーム -->
                                            {{ field }}
                                        </td>
                                    </div>
                                </tr>
                            {% endfor %}
                        </table>
                        <a class="btn btn btn-secondary" href="{% url 'students:stu_list' %}">戻る</a>
                        <button class="btn btn-success" name="next" value="create" type="submit">作成</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}